{% extends "base_template.html" %}
{% block content %}

<h1>OSSS App.</h1>
<br/>
<p>Ini merupakan aplikasi berbasis web yang disediakan untuk One Shock Security System. One Shock Security System sendiri merupakan sebuah sistem keamanan rumah yang memanfaatkan kamera pengawas yang akan bekerja (melakukan perekaman video) ketika sensor PIR (Passive Infra-Red) mendeteksi adanya gerakan manusia (sebagai indikasi adanya penyusup/pencuri), selain itu sistem juga akan menyalakan lampu sebagai efek kejut (one shock system) dan kemudian sistem juga akan mengirimkan notifikasi kepada user. Melalui aplikasi berbasis web inilah hasil dari rekaman video tersebut dapat diakses. Namun bukan hanya itu, user juga dapat mengakses kamera untuk live streaming video, serta mengendalikan sensor dan lampu. Sehingga melalui aplikasi web base ini, user dapat memantau kondisi rumah kapanpun dan dimanapun.
</p>
	
{% endblock %}
			