{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
			
<div id="daftar_video">
<div class="box">
	<h1> {{ title }}</h1>

<table id="table-video" class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>action</th>
    </tr>
    <tbody>
    {% for i in range(video_files_number) %}
      <tr>
        <td>{{ i+1 }}</td>
        <td> {{ video_files[i] }} </td>
        <td><a href="/play/{{ video_files[i] }}.html" class="btn btn-success btn-sm"><i class="fa fa-eye"></i> Lihat</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  
</table>
</div>
	
				
</div><!-- Penutup div "daftar_video" -->
			
{% endblock %}