
#button_kontrol{
	margin-top:0px;
	list-style:none;
}

#button_kontrol li{
	float:left;
	padding:4px 20px;
	border-right:1px solid #DDDDDD;

#button_kontrol li a{
	color : #ffffff;
	text-decoration:none;
}
