//colors
$gallery: #f0f0f0;
$white: #ffffff;

#daftar_video {
	width: 570px;
	float: left;
	background-color: $gallery;
	padding: 10px;
}
.video {
	background: $white;
	padding: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}