//colors
$gallery: #f0f0f0;
$fuscous_gray: #555555;

#streaming {
	clear: both;
	margin: 50px 0;
	text-align: center;
	background-color: $gallery;
	padding: 20px;
	color: $fuscous_gray;
	img {
		width: 720px;
		height: 350px;
	}
}