//colors
$moon_raker: #cdcbf1;
$fuscous_gray: #555555;
$gallery: #f0f0f0;

#welcome {
	clear: both;
	margin: 20px 0;
	text-align: center;
	background-color: $moon_raker;
	padding: 20px;
	color: $fuscous_gray;
}
#welcome2 {
	clear: both;
	margin: 50px 0;
	text-align: center;
	background-color: $gallery;
	padding: 20px;
	color: $fuscous_gray;
	p {
		margin: 0;
		text-align: center;
		background-color: $gallery;
		padding: 9px;
		color: $fuscous_gray;
	}
	img {
		width: 720px;
		height: 350px;
	}
}