<!DOCTYPE HTML>
<HTML>
	<head>
		<title>OSSS App.</title>
		<link rel="stylesheet" href="/static/styles/style.css" />
				
		
	</head>
	<body>
		<div id="wrapper">
			<img src="static/images/logo.png" alt="logo" />
			<div id="header">
				<div id="login">
					<a href="/logout">Log out</a>
				</div>
				<ul id="menu-utama">
					<li><a href="{{ url_for('index') }}">Beranda</a></li>
					<li><a href="{{ url_for('daftar_video') }}">Daftar video</a></li>
					<li><a href="{{ url_for('kontrol_gpio') }}">Kontrol Lampu</a></li>
					<li><a href="{{ url_for('video_streaming') }}">Video Streaming</a></li>
					<li><a href="{{ url_for('about') }}">About</a></li>
				</ul>
			</div><!-- Penutup div "header" -->
			
			<div id="bottom_header">
				<p>:: One Shock Security System Application ::</p>
			</div><!-- Penutup div "botttom_header" -->
			
			{% block content %}{% endblock %}

			<div id="footer">
				<p>Copyright &copy; 2017 by alifpamuji93</p>
			</div>
		</div><!-- Penutup div "wrapper" -->
	</body>
</HTML>
