{% extends "base_template.html" %}
{% block content %}
			
<div id="daftar_video">
	<h1> Daftar 5 video terakhir</h1>
	<div class="video">
		<video width="320" height="240" controls>
		<source src="/static/video/Install_windows_7_dengan_flashdisk.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	</div>	
				
	<div class="video">
		<video width="320" height="240" controls>
		<source src="static/video/Install_windows_7_dengan_flashdisk.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	</div>
				
</div><!-- Penutup div "daftar_video" -->
			
{% endblock %}