{% extends "base_template.html" %}
{% block content %}
			
<div id="daftar_video">
	<h1> {{ title }}</h1>

<table id="table-video" class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>action</th>
    </tr>
    <tbody>
    {% for i in range(video_files_number) %}
      <tr>
        <td>{{ i+1 }}</td>
        <td> {{ video_files[i] }} </td>
        <td><a href="/play/{{ video_files[i] }}.html" class="btn btn-success btn-sm"><i class="fa fa-eye"></i> Lihat</a>
        <td><a href="" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> Edit</a>
        <td><a href="" class="btn btn-danger btn-sm"><i class="fa fa-"></i> Hapus</a>                  
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </thead>
</table>

	
				
</div><!-- Penutup div "daftar_video" -->
			
{% endblock %}