<!DOCTYPE HTML>
<HTML>
	<head>
		<title>Kontrol GPIO</title>
		<link rel="stylesheet" href="static/styles/header.css" />
		<link rel="stylesheet" href="static/styles/footer.css" />
		<link rel="stylesheet" href="static/styles/kontrol_gpio.css" />
		
	</head>
	<body>
		
		<div id="wrapper">
			<img src="static/images/logo.png" alt="logo" />
			<div id="header">
				<div id="login">
					<a href="">Log out</a></li>
				</div>
				<ul id="menu-utama">
					<li><a href="{{ url_for('index') }}">Beranda</a></li>
					<li><a href="{{ url_for('daftar_video') }}">Daftar video</a></li>
					<li><a href="{{ url_for('kontrol_gpio') }}">Kontrol GPIO</a></li>
					<li><a href="{{ url_for('about') }}">About</a></li>
				</ul>
			</div><!-- Penutup div "header" -->
			
			<div id="bottom_header">
				<p>:: One Shock Security System Application ::</p>
				
				<p>{{a}}</p>
				
			</div><!-- Penutup div "botttom_header" -->
			
			<div id="kontrol_gpio">
				<h2>Video Streaming 2</h2>
				<br/>
				<img id="bg" src="{{ url_for('video_feed') }}">
			</div><!-- Penutup div "kontrol_gpio" -->
			
			<div id="footer">
				<p>Copyright (c) 2017 by alifpamuji93</p>
			</div>
		</div><!-- Penutup div "wrapper" -->
	</body>
</HTML>
